<!DOCTYPE html>
<html>
<head>
  <title>STUDY</title>
</head>
<body>
	<form action = "/study" method = "POST" enctype = "multipart/form-data">
		<input type = "text" name = "topic" placeholder = "eg: Arithmetic">
		<input type = "file" name = "file">
		<select name = "course">
			<option value = "science">Science</option>
			<option value = "commerce">Commerce</option>
			<option value = "arts">Arts</option>
		</select>
		<p align = "center"><input type = "submit"></p>
    </form>
</body>
</html>